# 데이터분석을 위한 파이썬 기초

## print 하기

In [ ]:
# 문자열을 출력합니다.
print('Hello Python!')

In [ ]:
# 숫자를 출력합니다.
print(12345)

In [ ]:
print(1)

In [9]:
print([1, 2, 3])

[1, 2, 3]

## input

In [63]:
name = input('What is your name?')

What is your name?jyb

In [ ]:
pip list

## 객체지향프로그래밍 비교실습

##객체지향방식으로 구현하지 않은 경우

In [15]:
# 사각형(Rectangle)면적에서 만약 가로h = 10, 세로v = 20인 경우를 가정해보자

def area(h, v):
    return h * v

a = area(10, 20)
print(a)

200

##객체지향으로 구현하는 경우

In [16]:
# 위에 경우사각형의 면적을 계산하는 함수 area()는 제각기 떨어져 있다. 
# 객체 지향 프로그래밍에서는 이 세가지를 하나의 객체(object)로 묶을 수 있다.
#  __init__이라는 메서드 : 파이썬에서 특별하게 약속된 메서드 --> 컨스트럭터라고 불리는 초기화(initialize)를 위한 메서드
# 객체화(인스턴스화)를 실시할 때 반드시 처음에 호출되는 특수한 함수라고 이해하면 됨.


# --> 어떤 클래스의 객체가 만들어질 때 자동으로 호출되어서 그 객체가 갖게 될 여러 가지 성질을 정해주는 일을 함.

# -->  클래스를 이용한다면 기본적으로 작성 :  def __init__(self,something):
# self : "메소드의 임의의 인수"등 다양하게 부르고 있었다. 
#--> 클래스의 구성을 취득할 때에 정형의 구문으로 사용

#소멸자(destructor) 메소드 : 파이썬에서는 __del__ 메서드가 소멸자의 역할을 함.


class Rectangle(object):
    
    def __init__(self, h, v): 
        self.h = h
        self.v = v
        
    def area(self):
        return self.h * self.v

In [ ]:
## 클래스 구성을 사용하는 메리트는 다음과 같다고 할 수 있다.
# 글로벌 변수를 없애고, 모든 변수를 어떠한 스코프에 소속시킨다.
# 몇 번이고 재사용 가능
# 코드의 수정을 최소화
# 함수 실행중에, 함수 자신을 다시 호출하는 처리 등이 가능

In [17]:
r = Rectangle(10, 20)    
a = r.area()
print(a)

# 객체 r은 사각형의 가로 길이와 세로 길이를 나타내는 변수 h와 v 그리고 면적을 계산하는 함수 area()가 합쳐져서 만들어진 것

# Rectangle은 클래스이고,  r은 Rectangle 클래스로 만들어진 객체(object)

200

In [18]:
# 객체 r에 포함된 이 변수들과 함수, 즉 속성을 꺼내려면 객체 이름 뒤에 점(.)을 붙인 다음 속성 이름을 입력 
r.h

10

In [19]:
r.v

20

In [20]:
r.area()

200

In [ ]:
# 위에 사례에서 정해진 속성, 즉, 가로 길이 h와 세로 길이 v라는 속성을 가지도록 사각형 클래스를 한 번 만들어 놓으면 
#이 속성을 가지는 실제 사각형은 얼마든지 많이 만들 수 있다.

In [21]:
a = Rectangle(1, 2)   # 가로 1, 세로 2인 사각형
b = Rectangle(3, 4)   # 가로 3, 세로 4인 사각형
c = Rectangle(5, 6)   # 가로 5, 세로 6인 사각형
d = Rectangle(7, 8)   # 가로 7, 세로 8인 사각형
e = Rectangle(9, 10)   # 가로 9, 세로 10인 사각형

#사각형 면적을 구해보면
print(a.area())
print(b.area())
print(c.area())
print(d.area())
print(e.area())

2
12
30
56
90

#  함수

In [12]:
def add(a, b):
    x=a+b
    return x
y= add(2,3)
print(y)

5

##  라이브러리 보기/설치

In [ ]:
# 라이브러리가 왜 필요?

In [1]:
100*2

200

In [2]:
log(10)

NameError: name 'log' is not defined

In [3]:
import math
math.log(10)

2.302585092994046

In [6]:
from math import *  # 스타임포트 방식(한꺼번에 임포트함. 이름공간과 관련된 모호성 문제)

In [8]:
log(10)

2.302585092994046

In [ ]:
# 설치 라이브러리 보기

In [12]:
pip list

Package                 Version
----------------------- -------------------
absl-py                 0.13.0
ansi2html               1.6.0
argon2-cffi             20.1.0
astunparse              1.6.3
async-generator         1.10
attrs                   21.2.0
backcall                0.2.0
beautifulsoup4          4.9.3
bleach                  3.3.0
Brotli                  1.0.9
bs4                     0.0.1
cachetools              4.2.2
certifi                 2021.5.30
cffi                    1.14.6
charset-normalizer      2.0.1
chart-studio            1.1.0
click                   8.0.1
colorama                0.4.4
convertdate             2.3.2
cycler                  0.10.0
Cython                  0.29.24
dash                    1.21.0
dash-core-components    1.17.1
dash-html-components    1.1.4
dash-table              4.12.0
DateTime                4.3
debugpy                 1.3.0
decorator               5.0.9
defusedxml              0.7.1
Deprecated              1.2.12
entrypoints             0.3
ephem                   4.0.0.2
Note: you may need to restart the kernel to use updated packages.finance-datareader      0.9.31
Flask                   2.0.1
Flask-Compress          1.10.1
flatbuffers             1.12
fredapi                 0.4.3

fsspec                  2021.8.1

WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\jyb\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

future                  0.18.2
gast                    0.4.0
google-auth             1.33.1
google-auth-oauthlib    0.4.4
google-pasta            0.2.0
grpcio                  1.34.1
h5py                    3.1.0
hijri-converter         2.1.3
html5lib                1.1
idna                    3.2
ipykernel               6.0.1
ipython                 7.25.0
ipython-genutils        0.2.0
ipywidgets              7.6.4
itsdangerous            2.0.1
jedi                    0.18.0
Jinja2                  3.0.1
joblib                  1.0.1
jsonschema              3.2.0
jupyter                 1.0.0
jupyter-client          6.1.12
jupyter-console         6.4.0
jupyter-core            4.7.1
jupyter-dash            0.4.0
jupyterlab-pygments     0.1.2
jupyterlab-widgets      1.0.1
keras-nightly           2.5.0.dev2021032900
Keras-Preprocessing     1.1.2
kiwisolver              1.3.1
korean-lunar-calendar   0.2.1
lxml                    4.6.3
Markdown                3.3.4
MarkupSafe              2.0.1
matplotlib              3.4.2
matplotlib-inline       0.1.2
mistune                 0.8.4
multitasking            0.0.9
nbclient                0.5.3
nbconvert               6.1.0
nbformat                5.1.3
nest-asyncio            1.5.1
notebook                6.4.0
numpy                   1.19.5
oauthlib                3.1.1
OpenDartReader          0.1.1
opt-einsum              3.3.0
packaging               21.0
pandas                  1.3.0
pandas-datareader       0.10.0
pandocfilters           1.4.3
parso                   0.8.2
patsy                   0.5.1
pickleshare             0.7.5
Pillow                  8.3.1
pip                     21.1.3
plotly                  5.1.0
plotly-express          0.4.1
prometheus-client       0.11.0
prompt-toolkit          3.0.19
protobuf                3.17.3
pyasn1                  0.4.8
pyasn1-modules          0.2.8
pycparser               2.20
Pygments                2.9.0
pykrx                   1.0.17
PyMeeus                 0.5.11
pyparsing               2.4.7
pyrsistent              0.18.0
python-dateutil         2.8.1
pytz                    2021.1
pywin32                 301
pywinpty                1.1.3
pyzmq                   22.1.0
qtconsole               5.1.1
QtPy                    1.11.0
requests                2.26.0
requests-file           1.5.1
requests-oauthlib       1.3.0
retrying                1.3.3
rsa                     4.7.2
scikit-learn            0.24.2
scipy                   1.7.0
seaborn                 0.11.1
Send2Trash              1.7.1
setuptools              56.0.0
setuptools-git          1.2
six                     1.15.0
sklearn                 0.0
soupsieve               2.2.1
statsmodels             0.12.2
tenacity                8.0.1
tensorboard             2.5.0
tensorboard-data-server 0.6.1
tensorboard-plugin-wit  1.8.0
tensorflow              2.5.0
tensorflow-estimator    2.5.0
termcolor               1.1.0
terminado               0.10.1
testpath                0.5.0
threadpoolctl           2.2.0
tornado                 6.1
tqdm                    4.61.2
traitlets               5.0.5
typing-extensions       3.7.4.3
ujson                   4.0.2
urllib3                 1.26.6
wcwidth                 0.2.5
webencodings            0.5.1
Werkzeug                2.0.1
wheel                   0.36.2
widgetsnbextension      3.5.1
wrapt                   1.12.1
xlrd                    2.0.1
yahoofinancials         1.6
yfinance                0.1.63
zope.interface          5.4.0

In [ ]:
# 라이브러리 설치

In [ ]:
pip install pandas

In [ ]:
import keyword
print(keyword.kwlist)

## 주석 내용 입력해보기

In [16]:
print("안산대학교")

안산대학교

In [17]:
# print("안산대학교")

In [ ]:
import keyword
help(keyword)

## 출력하기

In [36]:
print("hello world")

hello world

In [37]:
print("안산대학교")

안산대학교

## 키워드(Keyword, 예약어

In [38]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## 내장함수(Built-in Functions) 실습

In [41]:
#최대값
max(1,2,3)

3

In [42]:
# 최소값
min(1,2,3)

1

In [43]:
#절대값
abs(-2)

2

In [44]:
# 승
pow(2,3)

8.0

## 사칙연산 연산자 사례

In [ ]:
1+2

In [ ]:
print(1 + 2)  # 계산결과를 출력합니다.

In [ ]:
5-3

In [68]:
1+2
5-3

2

In [19]:
5*3

15

In [20]:
6/3

2.0

In [ ]:
#파이썬에서도 일반 수학의 연산 순서를 따른다. 
#곱셈과 나눗셈이 덧셈이나 뺄셈보다 먼저 연산

In [18]:
2+3*2

8

In [ ]:
# 괄호가 있으면 괄호안을 먼저 계산한다.

In [21]:
10-(3*3-1)

2

In [ ]:
##부등식의 참과 거짓 계산¶True, False
## 파이썬은 참과 거짓을 계산하는 부등식 연산도 가능

In [23]:
3 > 1

True

In [25]:
1 > 2

False

In [26]:
2 == 2 # 등호 기호는 ==

True

In [27]:
# 같지 않다. !=
2 != 1

True

In [28]:
#2는 3보다 작거나 같다
2 <= 3

True

In [ ]:
#2는 3보다 크거나 같다

In [29]:
2>=3

False

In [ ]:
## 부울리언 대수(Boolean algebra) 연산

# &  :  (AND) 연산은 두 값이 모두 참일 때만 답이 참이 된다. 즉, 하나라도 거짓이면 --> False

# |  :  (OR) 연산은 두 값이 모두 거짓일 때만 답이 거짓이 된다. 즉, 하나라도 참이면 --> True

In [30]:
 True & True

True

In [31]:
True & False

False

In [32]:
False & False

False

In [33]:
True | True

True

In [34]:
True | False

True

In [35]:
False | False

False

## 변수(variable) 할당하여 연산자

In [ ]:
a=1
b=2
a+b

In [ ]:
a = 1
b = 2
print( a + b )

In [ ]:
a = 1
b = 2
print( a + b ) 


print(b-a)

In [ ]:
a-b

In [ ]:
a = 1
b = 2
print( a - b )

In [ ]:
a/b

In [ ]:
print(a/b)

In [ ]:
a*b

In [ ]:
b**10

In [ ]:
2**10

In [ ]:
10/10

In [ ]:
10/3

In [ ]:
10//3

In [ ]:
10%3

## 자료형 : 숫자형, 문자형

In [45]:
#정수형변수(integer)
a=1
type(a)

int

In [47]:
b=1.55
type(b)

float

In [55]:
# 실수를 정수로 변환 
int(1.2)

1

In [54]:
# 정수를 실수로 변환
float(5)

5.0

In [48]:
#복소수형변수
c=1+2j
type(c)

complex

In [49]:
var_comp = 3+2j
print(var_comp, type(var_comp))

print(var_comp.real, var_comp.imag)
print(var_comp.conjugate())

(3+2j) <class 'complex'>
3.0 2.0
(3-2j)

In [46]:
##문자열(String): 문자와 단어 등으로 구성된 문자들의 집합을 의미
# 큰따옴표, 작은따옴표 모두 가능
a = "Hello Python" 
type(a)

str

In [57]:
a = "Hello Python" 
type(a)

str

In [56]:
a = 'Hello Python'
type(a)

str

In [58]:
##문자형
a = "Hello Python" 
print(a)

Hello Python

In [59]:
##문자형
a = 'Hello Python' 
print(a)

Hello Python

In [ ]:
#문자형
a = "안산대학교금융정보학과"
type(a)

In [ ]:
#문자형
a = "안산대학교금융정보학과"
print(a)

In [ ]:
#문자형
a = "안산대학교 금융정보학과"
print(a)

In [ ]:
##문자열 따옴표를 출력하기¶
#파이썬에서 두 가지 종류(큰, 작은)의  쓸 수 있는 것운 문자열이 따옴표를 포함하는 경우가 있기 때문이다. 
#만약 따옴표로 둘러싸인 문자열에 따옴표가 포함되어 있다면 파이썬은 그 부분에서 문자열이 끝난다고 인식하여 오류가 발생 
# 이처럼 문자열 안에 따옴표는 필요한 경우 큰따옴표, 작은따옴표 따로 작성

In [61]:
print('학교앞에서 누군가가  "금융정보과 학생여러분! 화이팅하세요" 라고 외치고 있었다')

학교앞에서 누군가가  "금융정보과 학생여러분! 화이팅하세요" 라고 외치고 있었다

In [ ]:
# 문자열 치환
# 문자열에서 특정 문자를 다른 문자로 바꾸려면 replace 메서드 사용

In [62]:
"2021.10.17".replace(".", "-")

'2021-10-17'

In [ ]:
## 문자열의 길이 확인 
loc="ansan"
len(loc)

In [ ]:
## index[ ] 
#인덱스 2를 찾아보기
loc="ansan" 
loc[2]

In [2]:
## slice[:] 
loc="ansan" 
loc[0:2]

'an'

In [ ]:
## slice[:] 
loc="ansan"
loc[:]

In [3]:
## slice[:] 
loc="ansan"
loc[3:]

'an'

In [6]:
loc2="ansan univ" 
loc2.split()

['ansan', 'univ']

## list 생성하기

## 데이터 구조 : 리스트, 튜플, 딕셔너리

In [ ]:
# 리스트(list)

In [7]:
## 리스트 생성 
# 대괄호 사용 주의 []
num=[1,2,3,4,5] 
print(num)
type(num)

[1, 2, 3, 4, 5]

list

In [9]:
number=['one','two','three','four']
print(number)
type(number)

['one', 'two', 'three', 'four']

list

In [23]:
## 특정값 찾기 index[ ]
num=['one','two','three','four'] 
num[1]

'two'

In [22]:
## 특정값 찾기  slice[:] 
num=['one','two','three','four'] 
num[2:4]

['three', 'four']

In [26]:
## 리스트값에 추가 append( ) 
number=['one','two','three','four'] 
number.append('five') 
print(number)

['one', 'two', 'three', 'four', 'five']

In [28]:
## 리스트값 중 일부 삭제 del 
number=['one','two','three','four'] 
del number[1] 
print(number)

['one', 'three', 'four']

In [29]:
## 리스트 값에  remove( ) 
number.remove('three')
print(number)

['one', 'four']

In [30]:
## 2개의 리스트를 병합하는 경우 extend( ) 
number1=['one','two','three','four'] 
number2=['six','seven','eight','nine'] 
number1.extend(number2) 
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine']

In [33]:
## 2개의 리스트를 병합하는 경우.순서가 반대 extend( ) 
number1=['one','two','three','four']
number2=['six','seven','eight','nine'] 
number2.extend(number1) 
print(number2)

['six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [36]:
## 정렬하기 sort( ) 는 알파벳순서로 정렬하기 
number=['one','two','three','four'] 
number.sort() 
print(number)

['four', 'one', 'three', 'two']

In [37]:
## 정렬하기 sorted( ) 
number=['one','two','three','four'] 
newnumber=sorted(number) 
print(newnumber)

['four', 'one', 'three', 'two']

In [38]:
## 정렬하기 sorted( ) 
number=['one','two','three','four'] 
newnumber=sorted(number) 
print(newnumber) 
print(number)

['four', 'one', 'three', 'two']
['one', 'two', 'three', 'four']

In [39]:
## sort(reverse=True) 
number=[1,2,3,4] 
number.sort(reverse=True) 
print(number)

[4, 3, 2, 1]

In [44]:
##리스트 항목개수 확인  len( ) 
number=['one','two','three','four'] 
len(number)

4

## Python Tuple

In [46]:
## tuple( ) 리스트와 다르게 소괄호()로 만든다.

number=(1,2,3,4) 
print(number)
type(number)

(1, 2, 3, 4)

tuple

## 리스트 구조로 변환

In [47]:
number_tuple=('one','two','three','four')
print(number_tuple)
list(number_tuple)

('one', 'two', 'three', 'four')

['one', 'two', 'three', 'four']

## 특정 값 찾기 index[ ], slice [ : ]

In [ ]:
number=['one','two','three','four']
number[1]

In [ ]:
number=['one','two','three','four']
number[2:4]

## 특정 값 변환 index[ ]
index를 활용하여 리스트값을 변환

In [ ]:
number=['one','two','three','four']
number[0]='first'
print(number)

## 리스트 값 추가와 삭제 append( ), del, remove( )

In [ ]:
## append( )
number=['one','two','three','four']
number.append('five')
print(number)

In [ ]:
## remove
number=['one','two','three','four']
number.remove('one')
print(number)

In [ ]:
## del
number=['one','two','three','four']
# 파이썬에서 index 는 1이 처음 시작이 아니라 0으로 시작한다는 것이 특징이다.
# 문자열 slice 에서와 마찬가지로 setp 을 이용하여 [::2] 일경우 처음부터 마지막까지 2칸식 항목을 추출하는 방법등을 사용할 수 있다.Python 초급 빅데이터 교육 콘텐츠
del number[1]
print(number)

In [ ]:
## extend( )
number1=['one','two','three','four']
number2=['six','seven','eight','nine']
number1.extend(number2)
print(number1)

In [ ]:
## extend( )
number1=['one','two','three','four']
number2=['six','seven','eight','nine']
number2.extend(number1)
print(number2)

## Python Dictionary

In [48]:
## 딕셔너리 생성은 중괄호 { } 를 사용하고, 요소가 여러개인 경우 콤마(,)로 구분

fruit_price = {'apple' : 3500, 'peer' : 2500, 'cherry' : 5000} 
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

In [51]:
fruit_price = {'apple' : 3500, 'peer' : 2500, 'cherry' : 5000} 
print(fruit_price)
type(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

dict

In [53]:
## 리스트를 활용한 딕셔너리 생성 { } 
school_class = {1: ['mina','jane','mark'], 2 : ['peter','pay','parker'], 3 : ['pay','joy','conan'] } 
print(school_class)
type(school_class)

{1: ['mina', 'jane', 'mark'], 2: ['peter', 'pay', 'parker'], 3: ['pay', 'joy', 'conan']}

dict

In [54]:
## 다른 데이터 구조를 딕셔너리형으로 변환 dict( ) 
fruit_price =[['apple',3500],['peer',2500],['cherry',5000]] 
fruit_price=dict(fruit_price) 
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

In [55]:
# 키 반환하기 keys( ) 
school_class = {1: ['mina','jane','mark'], 2 : ['peter','pay','parker'], 3 : ['pay','joy','conan'] } 
school_class.keys()

dict_keys([1, 2, 3])

In [56]:
## 항목 반환하기 index( ) 
fruit_price = {'apple' : 3500, 'peer' : 2500, 'cherry' : 5000} 
fruit_price['peer']

2500

In [57]:
## 딕셔너리 병합 update( ) 
fruit_price = {'apple' : 3500, 'peer' : 2500, 'cherry' : 5000} 
others = {'banana':3200,'grape':2000} 
fruit_price.update(others) 
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000, 'banana': 3200, 'grape': 2000}

In [59]:
## 일부 삭제하기 del 
fruit_price = {'apple' : 3500, 'peer' : 2500, 'cherry' : 5000} 
del fruit_price['apple'] 
print(fruit_price)

{'peer': 2500, 'cherry': 5000}

## 세트(set)

In [62]:
#집합은 중괄호 사용{}
A={1,2,3,4,5}
B={3,4,5,6,7,8}
type(A)

set

In [63]:
#합집합  A|B
#합집합 A.union(B)도 가능
A={1,2,3,4,5}
B={3,4,5,6,7,8}
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [65]:
A={1,2,3,4,5}
B={3,4,5,6,7,8}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
#교집합  A&B
# 교집합 A.intersection(B)도 가능
A={1,2,3,4,5}
B={3,4,5,6,7,8}
A&B

{3, 4, 5}

In [66]:
#교집합
A={1,2,3,4,5}
B={3,4,5,6,7,8}
A.intersection(B)

{3, 4, 5}

In [67]:
#차집합  A-B
A={1,2,3,4,5}
B={3,4,5,6,7,8}
A-B

{1, 2}

## if, else, elif  사례

## 제어문(조건문)

# if문

In [ ]:
## If문은 If문의 조건을 만족하는 경우 즉, 참(True) 인 경우 결과를 내보내는 조건문
# 조건문의 끝은 콜론 ‘:’ 을 이용하여 나타낸다.==> 들여쓰기(indentation)가 됨

In [69]:
python = True 
if(python): 
  print("조건문이 참입니다.")

조건문이 참입니다.

# if~ else문

In [ ]:
# else문  :   독립적으로 혼자 사용할 수 없고 
# if문 다음에 나타나는 조건문으로써 if문의 조건이 맞지 않을 때, 
# 거짓(False)일 때 실행

#if 참 또는 거짓을 가지는 값:
    #조건이 참일 때 실행되는 명령들
#else:
    #조건이 거짓일 때 실행되는 명령들

In [70]:
python = False 
if(python) : 
  print("조건문이 참입니다.") 
else : 
  print("조건문이 참이 아닙니다.")

조건문이 참이 아닙니다.

# if~ elif ~ else문

In [76]:
# 조건으로 나누어야 할 경우의 수가 두 가지가 아니라 여러 가지일 때는 if ~ elif ~ else 명령 사용
## elif
python = False
pycharm = True 
if(python): 
  print("첫번째 조건문이 참입니다.") 
elif (pycharm):
  print("첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.")
else: 
  print("조건문이 참이 아닙니다.")

첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.

In [69]:
# 만약 학점부여시 90점이상 A학점, 80점이상 B학점, 80점 미만 C학점이라면
# 어느 학생이 70점이면 학점은?
김안산 = 85

if 김안산 >= 90:
    print("A")
elif 김안산 >= 80:
    print("B")
else:
    print("C")

B

In [70]:
김안산 = 95

if 김안산 >= 90:
    print("A")
elif 김안산 >= 80:
    print("B")
else:
    print("C")

A

## 제어문 : 반복문 for

In [77]:
# 0부터 9까지 출력   주석문 사례 보기 
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [79]:
## 리스트 for 문 
fruit = ['apple','peer','cherry']
type(fruit) 
for a in fruit:
  print(a)

apple
peer
cherry

In [80]:
## 딕셔너리 for 문 key( ) 
fruit_price = {'apple' : 3500, 'peer' : 2500, 'cherry' : 5000} 
for a in fruit_price.keys():
   print(a)

apple
peer
cherry

In [81]:
## 딕셔너리 for 문 values( ) 
fruit_price = {'apple' : 3500, 'peer' : 2500, 'cherry' : 5000} 
for a in fruit_price.values(): 
   print(a)

3500
2500
5000

In [94]:
## 딕셔너리 for문 모두 반환 items()
fruit_price = {'apple' : 3500, 'peer' : 2500, 'cherry' : 5000} 
for a in fruit_price.items():
    print(a)

('apple', 3500)
('peer', 2500)
('cherry', 5000)

## 자료 구조 : Series 와 Dataframe

In [ ]:
#시리즈 Series 
#Series모든 데이터 유형(정수, 문자열, 부동 소수점 숫자, Python 객체 등)을 보유할 수 있는 1차원 레이블 배열 축 레이블을 집합적으로 인덱스
#Series형태의 자료구조는 기본적으로 index와 value 가 존재하기 때문에 일반적으로 생각하는 시계열 형태와 일치한다.

In [137]:
## import
from pandas import Series, DataFrame
import pandas as pd
## series
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
print(fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [ ]:
## 특정값 추출 values, index
#Series형태도 딕셔너리 형태처럼 values를 통해 항목을 추출 할 수 있고, 딕셔너리의 key 역할을 하는 index를 따로 추출 할
#수 있다

In [138]:
## values index
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
print(fruit.values)
print(fruit.index)

[2500 3800 1200 6000]
Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

In [134]:
## Dataframe( ) 
from pandas import DataFrame 

fruitData = {'fruitName':['apple','banana','cherry','peer'],
        'fruitPrice':[2500,3800,6000,1200], 
        'num':[10,5,3,8]} 
fruitFrame =DataFrame(fruitData) 
print(fruitFrame)

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      peer        1200    8

In [ ]:
##컬럼순서 지정하기 colums
# Dataframe의 colums 함수를 이용하면 데이터 프레임에 입력되는 컬럼들의 순서를 지정 해 줄 수있다.

In [139]:
## columns
fruitData = {'fruitName':['apple','banana','cherry','peer'],
 'fruitPrice':[2500,3800,6000,1200],
 'num':[10,5,3,8]}
fruitFrame = DataFrame(fruitData, columns = ['fruitPrice','num','fruitName'])
print(fruitFrame)

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      peer

In [ ]:
##  컬럼 추가하기
# 데이터프레임 구조는 컬럼 단위로 되어있어 새로운 컬럼을 추가할 수 있는데 이때, 컬럼추가의 기준은 index가 된다

In [141]:
## 컬럼 추가하기 - 같은 값
fruitFrame['year'] = 2020
print(fruitFrame)

   fruitPrice  num fruitName  year
0        2500   10     apple  2020
1        3800    5    banana  2020
2        6000    3    cherry  2020
3        1200    8      peer  2020

In [ ]:
## 다른 값 지정

In [142]:
## 컬럼 추가하기 - 다른 값
variable=Series([4,2,1],index=[0,2,3])
fruitFrame['stock'] = variable
print(fruitFrame)

   fruitPrice  num fruitName  year  stock
0        2500   10     apple  2020    4.0
1        3800    5    banana  2020    NaN
2        6000    3    cherry  2020    2.0
3        1200    8      peer  2020    1.0

In [ ]:
#Series데이터 row 삭제하기 drop( )
#Series는 Dataframe과 달리 row만 존재하기 때문에 Series에서는 row의 삭제방법만 언급 할텐데, index의 삭제를 통해 row를
#지우는 경우를 보자

In [143]:
## row 삭제하기 drop( )
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
new_fruit = fruit.drop('banana')
print(fruit)
print(new_fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64
apple     2500
peer      1200
cherry    6000
dtype: int64

In [144]:
## row 삭제하기 drop( )
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
new_fruit = fruit.drop('banana')
print(new_fruit)

apple     2500
peer      1200
cherry    6000
dtype: int64

In [ ]:
## Dataframe row 삭제하기 drop( )
# Series와 마찬가지로 Datafrmae에서 row를 삭제하기위해선 drop( ) 함수를 이용하여 index를 삭제 해 주어야 한다.

In [145]:
## row 삭제하기 drop( )
fruitData = {'fruitName':['apple','banana','cherry','peer'],
 'fruitPrice':[2500,3800,6000,1200],
 'num':[10,5,3,8]}
fruitName=fruitData['fruitName']
fruitFrame = DataFrame(fruitData,index = fruitName,columns=['fruitPrice','num'])
fruitFrame2=fruitFrame.drop(['apple','cherry'])
print(fruitFrame)
print(fruitFrame2)

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8
        fruitPrice  num
banana        3800    5
peer          1200    8

In [ ]:
#Dataframe cloumn 삭제하기 drop( )
#drop( ) 함수를 이용할 때 row를 제거하기위해선 drop(index)를 사용했는데, cloumn을 삭제하기 위해선 index대신 column 의
#이름과 axis=1을 지정 하면 된다.

In [147]:
## column 삭제하기 drop( )
fruitFrame3=fruitFrame.drop('num',axis=1)
print(fruitFrame)
print(fruitFrame3)

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8
        fruitPrice
apple         2500
banana        3800
cherry        6000
peer          1200

In [ ]:
##항목추출하기 Slice
# 리스트, 튜플, 딕셔너리처럼 Pandas의 데이터구조인 Series, Dataframe 또한 index[ ] 를 이용하여 slice 가능

In [148]:
## Series Slice
# Series는 Dataframe 과 달리 index와 value만 존재하기 때문에 index를 통해 Slice 가능
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
fruit['apple':'peer']

apple     2500
banana    3800
peer      1200
dtype: int64

In [ ]:
# Dataframe의 Slice 
#Dataframe 은 index 를 통해 행을 추출 할 수 있고 이에 더하여 column의 정보를 통해 열을 추출 하는 두 가지 방법이 존재

In [149]:
## dataframe Slice
fruitData = {'fruitName':['apple','banana','cherry','peer'],
 'fruitPrice':[2500,3800,6000,1200],
 'num':[10,5,3,8]}
fruitName=fruitData['fruitName']
fruitFrame = DataFrame(fruitData,index = fruitName,columns=['fruitPrice','num'])
print(fruitFrame)
fruitFrame['fruitPrice']
fruitFrame['apple':'banana']

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8

        fruitPrice  num
apple         2500   10
banana        3800    5

## 데이터의 기본연산

In [ ]:
# Pandas 에서 중요한 기능중 하나는 객체 간 산술연산이 가능하다는 점이다. 
# Series 와 dataframe 모두 idnex가 존재하기 때문에 이러한 index를 통해 산술연산 가능
## 연산하는 Series들의 인덱스 중 하나라도 NaN(결측치) 가 존재하면 연산 결과도 무조건 NaN 으로 나타난다

In [150]:
## Series 연산
fruit1 = Series([5,9,10,3],index = ['apple','banana','cherry','peer'])
fruit2 = Series([3,2,9,5,10],index = ['apple','orange','banana','cherry','mango'])
print(fruit1)
print(fruit2)
fruit1 + fruit2

apple      5
banana     9
cherry    10
peer       3
dtype: int64
apple      3
orange     2
banana     9
cherry     5
mango     10
dtype: int64

apple      8.0
banana    18.0
cherry    15.0
mango      NaN
orange     NaN
peer       NaN
dtype: float64

In [151]:
 ## Dataframe의 연산
# Dataframe 은 column 이 존재하기 때문에 column 까지 같이 모두함께 연산된다.
# 컬림또한 NaN 이 하나라도 존재하는 row는 모두 NaN 처리가 된다.

fruitData1 = {'Ohio' : [4,8,3,5],'Texas' : [0,1,2,3]}
fruitFrame1 = DataFrame(fruitData1,columns=['Ohio','Texas'],index = ['apple','banana','cherry','peer'])
fruitData2 = {'Ohio' : [3,0,2,1,7],'Colorado':[5,4,3,6,0]}
fruitFrame2 = DataFrame(fruitData2,columns =['Ohio','Colorado'],index = ['apple','orange','banana','cherry','mango'])
print(fruitFrame1)
print(fruitFrame2)
fruitFrame1 + fruitFrame2

        Ohio  Texas
apple      4      0
banana     8      1
cherry     3      2
peer       5      3
        Ohio  Colorado
apple      3         5
orange     0         4
banana     2         3
cherry     1         6
mango      7         0

        Colorado  Ohio  Texas
apple        NaN   7.0    NaN
banana       NaN  10.0    NaN
cherry       NaN   4.0    NaN
mango        NaN   NaN    NaN
orange       NaN   NaN    NaN
peer         NaN   NaN    NaN

 ## 데이터의 정렬

In [ ]:
## Series의 정렬
#정렬의 기본은 오름차순이다. 
# 만약, 내림차순으로 정렬하고 싶다면 ascending=False라는 명령어를 추가로 하면 된다

In [152]:
## Series 정렬
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
fruit.sort_values(ascending=False)

cherry    6000
banana    3800
apple     2500
peer      1200
dtype: int64

In [ ]:
##Dataframe의 정렬
# Dataframe 은 row 와 column 이 모두 존재하기 때문에 단순히 row 기준으로 정렬하는 방법이 있고
# column의 순서를 정렬하는 방법이 있다.

In [153]:
## Dataframe 정렬
fruitData = {'fruitName':['peer','banana','apple','cherry'],
 'fruitPrice':[2500,3800,6000,1200],
 'num':[10,5,3,8]}
fruitName=fruitData['fruitName']
fruitFrame = DataFrame(fruitData,index = fruitName,columns=['num','fruitPrice'])
print(fruitFrame)
fruitFrame.sort_index()
fruitFrame.sort_index(axis = 1)

        num  fruitPrice
peer     10        2500
banana    5        3800
apple     3        6000
cherry    8        1200

        fruitPrice  num
peer          2500   10
banana        3800    5
apple         6000    3
cherry        1200    8

In [ ]:
#Dataframe의 값 정렬
#단순히 row 와 column 의 차례를 변경 할 수도 있지만 특정 column의 값을 통해 row를 정렬 하는 것도 가능
# 기준을 여러칼럼으로 하고 싶을때는 by 안의 리스트에 여러 개의 column 이름을 지정하면 된다.

In [154]:
## Dataframe 값 정렬
fruitFrame.sort_values(by=['fruitPrice'])

        num  fruitPrice
cherry    8        1200
peer     10        2500
banana    5        3800
apple     3        6000