## 회귀분석 입문 기초

In [ ]:
# 별도 자료 활용

In [ ]:
# 회귀분석 ?
# 독립변수(x)로 종속변수(y)간 인과 관계 설명
# 독립변수(x)로 종속변수(y)를 예측하는 것에 활용

In [ ]:
# 독립변수: 변수의 변화 원인 , 설명변수
# 종속변수: 변수의 변화 원인에 대한 결과 , 응답변수

In [ ]:
# 선형회귀분석
# 선형 회귀 분석은 독립변수와 종속변수 사이에 직선적인 형태의 관계가 있다고 가정

In [ ]:
# 회귀분석의 결과 이용

# 회귀계수: 독립변수의 변화가 종속변수를 얼마나 변화시키는가?
# 모형적합도: 모형이 데이터에 얼마나 잘 맞는가?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

# 한글폰트 출력 가능 코드
from matplotlib import rc
rc('font', family='AppleGothic') # Mac Os
#rc('font', family='NanumGothic') # Windows Os
plt.rcParams['axes.unicode_minus'] = False

In [3]:
# 삼성전자, KOSPI 데이터 불러오기
stock_price = yf.download({'005930.KS','^KS11'}, '2021-01-01', '2022-09-30')

stock_price

[*********************100%***********************]  2 of 2 completed

               Adj Close                  Close                   High  \
               005930.KS        ^KS11 005930.KS        ^KS11 005930.KS
Date
2021-01-04  80599.234375  2944.449951   83000.0  2944.449951   84400.0
2021-01-05  81473.210938  2990.570068   83900.0  2990.570068   83900.0
2021-01-06  79822.390625  2968.209961   82200.0  2968.209961   84500.0
2021-01-07  80502.132812  3031.679932   82900.0  3031.679932   84200.0
2021-01-08  86231.468750  3152.179932   88800.0  3152.179932   90000.0
...                  ...          ...       ...          ...       ...
2022-09-23  54500.000000  2290.000000   54500.0  2290.000000   54900.0
2022-09-26  53900.000000  2220.939941   53900.0  2220.939941   54200.0
2022-09-27  54200.000000  2223.860107   54200.0  2223.860107   54200.0
2022-09-28  52900.000000  2169.290039   52900.0  2169.290039   54400.0
2022-09-29  52600.000000  2170.929932   52600.0  2170.929932   53700.0

                              Low                   Open               \
                  ^KS11 005930.KS        ^KS11 005930.KS        ^KS11
Date
2021-01-04  2946.540039   80200.0  2869.110107   81000.0  2874.500000
2021-01-05  2990.570068   81600.0  2921.840088   81600.0  2943.669922
2021-01-06  3027.159912   82100.0  2961.370117   83300.0  2993.340088
2021-01-07  3055.280029   82700.0  2980.750000   82800.0  2980.750000
2021-01-08  3161.110107   83000.0  3040.110107   83300.0  3040.110107
...                 ...       ...          ...       ...          ...
2022-09-23  2334.060059   54200.0  2285.709961   54400.0  2331.330078
2022-09-26  2260.800049   53600.0  2215.360107   53700.0  2260.800049
2022-09-27  2227.350098   53500.0  2197.899902   53800.0  2224.389893
2022-09-28  2223.560059   52500.0  2151.600098   53900.0  2206.149902
2022-09-29  2210.610107   52600.0  2170.139893   53300.0  2197.750000

                Volume
             005930.KS    ^KS11
Date
2021-01-04  38655276.0  1026500
2021-01-05  35335669.0  1519900
2021-01-06  42089013.0  1793400
2021-01-07  32644642.0  1524700
2021-01-08  59013307.0  1297900
...                ...      ...
2022-09-23  10555964.0   446300
2022-09-26  15008449.0   621400
2022-09-27  16631289.0   487600
2022-09-28  19991129.0   595700
2022-09-29  13882080.0   508200

[429 rows x 12 columns]

In [4]:
stock_price.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 429 entries, 2021-01-04 to 2022-09-29
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Adj Close, 005930.KS)  426 non-null    float64
 1   (Adj Close, ^KS11)      429 non-null    float64
 2   (Close, 005930.KS)      426 non-null    float64
 3   (Close, ^KS11)          429 non-null    float64
 4   (High, 005930.KS)       426 non-null    float64
 5   (High, ^KS11)           429 non-null    float64
 6   (Low, 005930.KS)        426 non-null    float64
 7   (Low, ^KS11)            429 non-null    float64
 8   (Open, 005930.KS)       426 non-null    float64
 9   (Open, ^KS11)           429 non-null    float64
 10  (Volume, 005930.KS)     426 non-null    float64
 11  (Volume, ^KS11)         429 non-null    int64
dtypes: float64(11), int64(1)
memory usage: 43.6 KB

In [ ]:
# 절편의 제거
# 모형식에 0 +를 추가하여 모형에서 절편을 제거한다.

In [ ]:
# fin.ststs 참고 할 것

In [ ]:
# 단순

In [ ]:
# 다중회귀분석